**/__pycache__/
*.ipynb
*.sh
log_text
**.pyc
graph_pt
dataset_path
ckpt
.gitignore
infer
plot_score
ckpt_old
pretrain/pretrain_data.parquet
pretrain/pretrain_data
!get_probablity.ipynb
!infer.ipynb
output_dir