**/__pycache__/
*.ipynb
*.sh
log_text
**.pyc
graph_pt
dataset_path
ckpt
.gitignore
find_som_useful
infer
!graph_pretrain_ver2.ipynb
!infer.ipynb
pretrain_data
plot_score
gnn_pretrain_v2.pt
scores
ckpt_pretrain_randh
ckpt_pretrain_randh_v3
ckpt_old