**/__pycache__/
*.ipynb
*.sh
log_text
**.pyc
graph_pt
dataset_path
ckpt
.gitignore
find_som_useful
infer
pretrain_data
plot_score
ckpt_pretrain_randh
ckpt_pretrain_randh_v3
ckpt_old
pretrain_v5
!get_probablity.ipynb
GNN-SOM